@font-face {
    font-family: 'Nekst';
    src: url('fonts/nekst/Nekst-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Nekst-Black';
    src: url('fonts/nekst/Nekst-Black.woff') format('woff');
}
